
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CEDAC Expiring Use Atlas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CEDAC Expiring Use Atlas">
    <meta name="author" content="CEDAC">

    <link href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.ie.css" />
    <![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet-plugins/markercluster/MarkerCluster.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet-plugins/markercluster/MarkerCluster.Default.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet-plugins/markercluster/MarkerCluster.Default.ie.css" /><![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}properties/css/style.css" />

  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1><a href="http://cedac.org" title="Community Economic Development Assistance Corporation"><img src="{{ STATIC_URL }}img/logo.png" width="176" height="80" alt="CEDAC"></a> Expiring Use Atlas</h1>
        </div>

        <div class="row">
          <div class="span8 mapcontainer">
            <div id="map" class="well"></div>
            <div class="map-tools">
              <a id="resize-btn" class="btn btn-small"><i class="icon-resize-full"></i> Larger Map</a>
              <a id="email-btn" class="btn btn-small"><i class="icon-envelope"></i> Email</a>
              <a id="print-btn" class="btn btn-small"><i class="icon-print"></i> Print</a>
            </div>
            <div class="print-legend">
              <p></p>
              <p><img src="{{ STATIC_URL }}properties/img/home.png" >Expiring Use Property</p>
              <ul></ul>
            </div>
            <div id="about">
              <h3>The CEDAC Expiring Use Database</h3>
              <p>
                CEDAC maintains a database of over 125,000 housing units in 1,500 projects located throughout the state. These properties are privately owned but were produced using state and/or federal housing resources. Most funding programs required that owners commit to maintaining the properties for a particular period of time – typically 20 to 40 years. CEDAC uses this database of affordable housing projects to identify when specific projects are eligible to end affordability restrictions and convert to market rate housing. Periodically CEDAC posts summary reports on the affordable housing stock on our website <a href="http://cedac.org/housing/preservation.html">www.cedac.org/preservation</a>.
              </p>
              <p>For questions about the database, please contact Bill Brauner, Housing Preservation Program Manager (<a href="mailto:bbrauner@cedac.org">bbrauner@cedac.org</a>)</p>
            </div>
            <div id="datasources">
              <h4>Notes on CEDAC data sources</h4>
              <p>The CEDAC expiring use database does not purport to show all the affordable housing in a community and will indicate lower numbers of affordable housing than the Chapter 40B Supported Housing Inventory.  Below is a list of several significant housing programs that are not included in the CEDAC database and the reason that the housing is not included in the Atlas:</p>
              <table class="table table-striped">
                <tr>
                  <th>Program</th>
                  <th>Reason</th>
                </tr>
                <tr>
                  <td>Public Housing (state and federal)</td>
                  <td>Not privately owned housing</td>
                </tr>
                <tr>
                  <td>Homelessness Programs (Stewart B. McKinney, Housing Innovations Fund)</td>
                  <td>Special Needs Housing</td>
                </tr>
                <tr>
                  <td>Section 8 Housing Choice Vouchers</td>
                  <td>Not project-based (mobile vouchers)</td>
                </tr>
                <tr>
                  <td>Section 8 Moderate Rehabilitation</td>
                  <td>Program Lack of data</td>
                </tr>
                <tr>
                  <td>Section 8 Project-based vouchers</td>
                  <td>Lack of data</td>
                </tr>
                <tr>
                  <td>Rental Housing Developed with HOME and Community Development Block Grant</td>
                  <td>Lack of Data</td>
                </tr>
                <tr>
                  <td>Chapter 40B Partially Assisted Projects</td>
                  <td>Largest projects have been entered; data input is ongoing</td>
                </tr>
              </table>
              <p>CEDAC relies entirely on other public agencies for affordable housing data and appreciates the willingness of the following agencies to share data on affordable housing programs.</p>
              <h5>US Department of Housing and Urban Development</h5>
              <ul>
                <li>Project-based Section 8</li>
                <li>Insured Mortgages</li>
                <li>Section 202 Projects</li>
              </ul>
              <h5>Mass. Department of Housing and Community Development</h5>
              <ul>
                <li>Supported Housing Inventory</li>
                <li>Projects With Funding Awards</li>
                <li>MassHousing</li>
                <li>Lists of Housing Funded</li>
              </ul>
              <h5>Massachusetts Housing Partnership</h5>
              <ul>
                <li>Lists of Housing Funded</li>
              </ul>
              <h5>Department of Agriculture, Rural Development Program</h5>
              <ul>
                <li>Section 515 Projects</li>
              </ul>
            </div>
          </div>
          <div class="span4 sidebar">
            <div class="accordion" id="propertieslist">
              <div class="accordion-group">
                <div id="expuseproperties" class="accordion-body">
                  <ul class="accordion-inner">
                    <li>Expiring Use Property<br><small><i>Properties are grouped as circles when zoomed out.</i></small></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion" id="overlaylist"></div>
            <div class="accordion" id="baselayerlist">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" href="#categoryBasemaps">
                    Basemaps
                  </a>
                </div>
                <div id="categoryBasemaps" class="accordion-body collapse">
                  <ul class="accordion-inner"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">&copy; 2013 <a href="http://mapc.org">MAPC</a></p>
      </div>
    </div>

    <!-- lodash template definitions -->

    <script type="text/template" class="map-popup">
      {% if user.is_staff %}<a class="edit-link" href="<%= admin_url %>">edit</a>{% endif %}
      <h4><%= name %><br><small><%= aka %></small></h4>
      <p><%= address %></p>
      <table class="table table-striped table-condensed">
        <tr><td>Total units:</td><td><%= total %></td></tr>
        <tr><td>0-BR units:</td><td><%= br0 %></td></tr>
        <tr><td>1-BR units:</td><td><%= br1 %></td></tr>
        <tr><td>2-BR units:</td><td><%= br2 %></td></tr>
        <tr><td>3-BR units:</td><td><%= br3 %></td></tr>
        <tr><td>4+-BR units:</td><td><%= br4m %></td></tr>
        <tr><td>Elderly units:</td><td><%= elderly %></td></tr>
        <tr><td>Assisted units:</td><td><%= assisted %></td></tr>
        <tr><td>Units at risk 2015:</td><td><%= atrisk2015 %></td></tr>
        <tr><td>Units at risk 2020:</td><td><%= atrisk2015 %></td></tr>
        <tr><td>Units at risk 2025:</td><td><%= atrisk2015 %></td></tr>
      </table>
    </script>

    <!-- libraries and dependencies -->
    
    <script src="{{ STATIC_URL }}lib/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}lib/lodash.min.js"></script>
    <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}lib/leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}lib/leaflet-plugins/shramov/layer/tile/Bing.js"></script>
    <script src="{{ STATIC_URL }}lib/leaflet-plugins/markercluster/leaflet.markercluster.js"></script>
    <script src="{{ STATIC_URL }}lib/leaflet-plugins/leaflet-hash/leaflet-hash.js"></script>
    <script src="{{ STATIC_URL }}lib/mapc-layers.js"></script>

    <!-- main script -->

    <script src="{{ STATIC_URL }}app/main.js"></script>

  </body>
</html>
