/* Main styles
-------------------------------------------------- */

h3 {
  clear: both;
}

.container .credit {
  margin: 10px 0;
  font-size: 12px;
}

.print-legend {
  display: none;
}

.sidebar label {
  display: block;
}

ul.accordion-inner, .print-legend ul {
  list-style-type: none;
  margin-left: 0px;
}

a, a:visited, a:hover {
  color: rgba(0, 140, 153, 1);
}

#map {
  height: 500px;
}

.hide-sidebar {
  display: none;
}

#data {
  margin: 0 auto;
  padding: 10px 15px 0;
}

.sidebar p {
  color: #AAA;
  text-align: left;
  padding-left: 8px;
}

.green {
  background-color: #BBF6B7;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: #f5f5f5;
}


/* Leaflet overrides
-------------------------------------------------- */

.cedac-cluster {
  color: white;
  text-align: center;
  background-color: rgba(0, 140, 153, 0.6);
  background-clip: padding-box;
  border-radius: 20px;
}

.cedac-cluster div {
  line-height: 30px;
  margin-top: 5px
}

.leaflet-popup-content h4 {
  font-size: 14px;
  color: rgba(0, 140, 153, 1);
}

.leaflet-popup-content h4 small {
  font-size: 12px;
  font-style: italic;
}

.leaflet-popup-content p {
  margin: 6px 0 12px;
}

.leaflet-popup-content td:first-child {
  font-weight: bold;
}

.leaflet-popup-content td:nth-child(2) {
  text-align: center;
}

.leaflet-popup-content .edit-link {
  font-size: 11px;
  float: right;
}


/* Responsive design
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) { 
  #map {
    height: 500px;
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Print layout */
@media print {

  .print-legend {
    display: block;
  }
  .leaflet-control-container, .sidebar, #about, .map-tools, #footer, #datasources {
    display: none;
  }

  .print-legend ul li {
    float: left;
    width: 33%;
  }

  .print-legend ul li:nth-child(3n) { 
    clear : left; 
  }

  /* Bootstrap override */
  a[href]:after {
    content: "";
  }
}
