
#expuseproperties ul {
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#expuseproperties li {
    background: url('../img/home.png') no-repeat center left;
    padding-left: 40px;
    padding-top: 15px;
    min-height: 40px;
}

#expuseproperties .accordion-inner {
    border-top: none;
}